# -*- mode: sh; -*-

# Configuration for direnv (https://direnv.net/)

# We use bash integration via ~/.bashrc, so pyenv isn't necessary

# Make sure pipenv creates the virtual env in the current directory
export PIPENV_VENV_IN_PROJECT=1

# Enter a pipenv shell
layout pipenv
