[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
flake8-black = "*"
pytest-cov = "*"
pytest-xdist = "*"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.11.0"

[pipenv]
allow_prereleases = true

[scripts]
list = "python ./nm.py -c list -f alfred"
# The following are for testing various edge cases. These just happen to be
# times on my calendar when I have meetings that trigger the various edge cases
# I want to test.
#
# NOTE: All of these are on my personal calendar and not my work calendar so you
# must remove the token.pickle file, re-auth with my personal calendar and then
# test them out (not forgetting to undo that and re-auth with your work calendar
# after).
#
# Multiple meetings (one ending at 10:40 and another starting at 10:30)
list_options = "python ./nm.py -c list -f alfred -n 2023-05-23T10:30:00.000000-04:00"
# Only one choice of meetings to join
list_one_choice = "python ./nm.py -c list -f alfred -n 2023-05-23T07:58:00.000000-04:00"
list_one_choice_gcal = "python ./nm.py -c list -f alfred -n 2023-05-24T07:58:00.000000-04:00"
# No meetings to join
list_no_options = "python ./nm.py -c list -f alfred -n 2023-05-23T16:03:00.000000-04:00"
# One in progress and another one starting immediately after
list_join_next = "python ./nm.py -c list -f alfred -n 2023-05-23T12:29:00.000000-04:00"


# Code quality related shortcuts
#
lint = "flake8"
types = "mypy next_meeting"
test = "pytest"
